<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='{{ site.url }}'>
      <img src="{{ site.url }}/assets/images/turing_logo_with_name.png"
           alt="Turing School of Software and Design"
           class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section>
      <h1>Web Applications</h1>
      <ul>
        <li><a href="{{ site.url }}/web-app/lessons">Lessons</a></li>
        <li><a href="{{ site.url }}/web-app/projects">Projects</a></li>
      </ul>
    </section>

    <section>
      <h1>Swift/iOS Development</h1>
      <ul>
        <li><a href="{{ site.url }}/swift-ios/lessons">Lessons</a></li>
        <li><a href="{{ site.url }}/swift-ios/projects">Projects</a></li>
      </ul>
    </section>
  </div>
</nav>
