<nav class="navbar-navigation">
  <section class="navbar-navigation-logo">
    <h1 class="main-h1">
      <a class="home" href="{{ site.url }}">
        <img class="kwk-logo" src="{{ site.url }}/assets/images/KWK_full_white.png" alt="Kode With Klossy logo">
      </a>
    </h1>
  </section>
  <div class="navbar-navigation--links">
      <h2>
        <a class="curriculum-links web-app-menu" href="{{ site.url }}/web-app/">Web Dev</a>
      </h2>
      <h2>
        <a class="curriculum-links mobile-app-menu" href="{{ site.url }}/swift-ios/">Mobile</a>
      </h2>
  </div>
</nav>
