/* Code Samples */

pre {
  overflow-x: scroll;
}

.try-it {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-top: 8px solid $green;
  margin-bottom: 40px;
  padding: 0.25em 1.5em;

  pre {
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    color: white;
  }

}

.practice {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  border-top: 8px solid $dark-gray;
  padding: 0.25em 1.5em;

  pre {
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    color: white;
  }
}

.highlighter-rouge {
  max-width: 100%;
  pre {
    white-space: pre-wrap;
  }
}

.codepen-embed-body {
  margin-bottom: 40px;
}
