/* Content */

.content {
  padding: 2em;
  width: 80%;
  margin-left: 10%;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 1em;
    }
  }
}

ul.module-quick-links {
  font-weight: 100;
  display: flex;
}

#module-list {
  align-content: center;
}

.title {
  text-align: center;
}

.html-tags-detail {
  height: 500px;
}

.img-tag-anatomy {
  height: 250px;
  margin: 3% 0;
}

.image-ratio {
  height: 250px;
}

.to-do {
  background-color: coral;
}

.small {
  width: 47.5%;
}

.medium {
  width: 75%;
}

.class-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.class-page-card {
  width: 45%;

  img {
    object-fit: cover;
  }

  h1 {
    text-align: center;
    font-size: 160%;
  }
}

@media screen and (max-width: 900px) {

  .content {
    width: 85%;
    margin-left: 7.5%
  }

  .class-page {
    flex-direction: column;
    align-items: center;
  }

  .class-page-card {
    width: 80%;

    h1 {
      margin-bottom: 10%;
    }

  }

}

@media screen and (max-width: 600px) {

  .content {
    width: 95%;
    margin-left: 2.5%
  }

  .class-page-card {
    width: 100%;
  }

}
