//rename file to navbar
$sidebar-color: rgb(245, 245, 245);

.kwk-logo {
  height: 55px;
}

.sidebar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  h2 {
    padding-left: 1em;
    font-size: 1em;
    margin: 0;
    color: $dark-gray;
    text-transform: uppercase;
  }

  .main-h1 {
    font-size: 1.2em;
  }

}

.sidebar-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 3%;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.sidebar-navigation--links {
  display: flex;
  flex-direction: row;

  a {
    display: block;
    margin: 0.5em 2.8em;
    padding-bottom: 0.25em;
    border-bottom: 3px solid #fff;
    color: $dark-gray;
    text-align: center;

    &:hover {
      color: $green;
    }

    &:active {
      color: $green;
    }

  }

  .active-link {
    border-bottom: 3px solid $green;
  }

  .web-app-drop-down,
  .mobile-app-drop-down {
    position: relative;
  }

  .web-app-options,
  .mobile-app-options {
    display: none;
    position: fixed;
    top: 70px;
    border: 1px solid $light-gray;
    background: #fff;
    padding-left: 0;
    width: 200px;

    li {
      list-style: none;
      text-align: center;
    }

    @media (max-width: 900px) {
      top: 117px;
      width: 175px;
    }
  }

  .web-app-option,
  .mobile-app-option {
    margin: 0;
    padding: 1px 6px;
    text-align: center;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .web-app-options,
  .mobile-app-options {
    top: 131px;
  }
}
// .turing-logo {
//   margin: 0;
//   max-width: 97%;
//   display: block;
//
//   @media (max-width: $tablet-width) {
//     max-width: 200px;
//     margin: 0 auto;
//   }
// }
