//rename file to navbar
$sidebar-color: rgb(245, 245, 245);

.sidebar {

  h2 {
    padding-left: 1em;
    font-size: 1em;
    margin: 0;
    color: $dark-gray;
    text-transform: uppercase;
  }

  .main-h1 {
    font-size: 1.2em;
    padding: 1em;
  }

}

.sidebar-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $light-gray;
  background-color: #fff;
  padding: 0 3%;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.active-link {
  background-color: lighten(#98a1a2, 20);
}

.sidebar-navigation--links {
  display: flex;
  flex-direction: row;

  a {
    display: block;
    padding: 0.5em 1.1em;
    border-bottom: none;
    color: $dark-gray;

    &:hover {
      color: $green;
    }

    &:active {
      color: $green;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

// .turing-logo {
//   margin: 0;
//   max-width: 97%;
//   display: block;
//
//   @media (max-width: $tablet-width) {
//     max-width: 200px;
//     margin: 0 auto;
//   }
// }
