<!DOCTYPE html>

<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      <section class="navbar">
        {% include navigation.html %}
      </section>
      <section class="content">
        <article>
          <header>
            <h1>
              Kode With Klossy
              <small>2019 Camp</small>
            </h1>
          </header>
          <section class="main-content">
            {{ content }}
          </section>
        </article>
        {% include footer.html %}
      </section>
    </div>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <script src="{{ site.url }}/public/js/active-links.js"></script>
    <script src="{{ site.url }}/public/js/drop-downs.js"></script>
    <script src="{{ site.url }}/public/js/log.js"></script>
  </body>

</html>
